<app-navbar-especialista></app-navbar-especialista>

<p>modificacion-expediente works!</p>
<p>modificacion-expediente works!</p>
<br />
<body>
  <div class="cuadro-registro">
    <h1>Expediente Clínico</h1>
    <form #RegistrarPacienteForm="ngForm" [formGroup]="FormModificarExpediente">
      <div class="div-info">
        <div>
          <h2>Paciente</h2>
          <mat-form-field class="dropdown" appearance="fill">
            <mat-label>Seleccione el paciente</mat-label>
            <mat-select [(value)]="id_paciente">
              <mat-option
                *ngFor="let paciente of pacientes"
                [value]="paciente.id_usuario"
              >
                {{ paciente.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            class="btn btn-primary"
            type="button"
            (click)="cargarInformacion()"
          >
            buscar
          </button>
        </div>

        <div>
          <h2>Sexo</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Sexo</mat-label>
            <input matInput readonly value="{{ sexo }}" />
            <mat-error>
              Por favor Ingrese su <strong>Fecha de Nacimiento</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- <div>
            <h2>Sexo</h2>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button class="input" color="primary" id="masculino" value="masculino" name="sexo" formControlName="sexo">Masculino</mat-radio-button>
              <br>
              <mat-radio-button class="input" color="primary" id="femenino" value="femenino" name="sexo" formControlName="sexo">Femenino</mat-radio-button>
            </mat-radio-group>
          </div> -->

        <!-- <div>
            <h2>Sexo</h2>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button class="input" *ngFor="let sexo of sexos" [value]="sexo" color="primary">{{ sexo }}</mat-radio-button>
            </mat-radio-group>
          </div> -->
      </div>

      <div class="div-info">
        <!-- Fecha de nacimiento -->
        <div>
          <h2>Fecha de Nacimiento</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput readonly value="{{ fecha|date:'dd/MM/yyyy' }}" />
            <mat-error>
              Por favor Ingrese su <strong>Fecha de Nacimiento</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Usuario -->
        <div>
          <h2>Nombre de usuario</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off" value="{{ usuario }}" readonly />
            <mat-error>
              Por favor Ingrese su nombre de <strong>Usuario</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="div-info">
        <!-- Email -->
        <div>
          <h2>Correo electrónico</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Ex. pat@example.com"
              value="{{ correo }}"
              readonly
            />
            <mat-error>
              Por favor Ingrese su <strong>Correo</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <h2>Origen y Procedencia</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Origen y Procedencia</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="origen"
              value="{{ origen }}"
            />
            <mat-error>
              Por favor Ingrese la informacion de
              <strong>Origen y Procedencia</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="div-info">
        <!-- Telefono -->
        <div>
          <h2>Número de Teléfono</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Teléfono</mat-label>
            <span matPrefix>+55 &nbsp;</span>
            <input
              type="tel"
              matInput
              placeholder="555-555-1234"
              value="{{ telefono }}"
              readonly
            />
            <mat-error>
              Por favor Ingrese su número de <strong>telefono</strong> de 10
              digitos
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <h2>Estudios</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Estudios</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="estudios"
              [value]=""
            />
            <mat-error>
              Por favor Ingrese los <strong>Estudios</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="div-info">
        <div>
          <h2>Ocupación</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Ocupación</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="ocupacion"
              value="{{ ocupacion }}"
            />
            <mat-error>
              Por favor Ingrese la <strong>Ocupación</strong> del paciente
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <h2>Observaciones</h2>
        <mat-form-field class="textarea" appearance="outline">
          <textarea
            rows="10" cols="50"
            matInput
            placeholder="Observaciones del paciente"
            formControlName="observaciones"
            value="{{ obsevacion }}"
          >
          </textarea>
          <mat-error> Ingrese Observaciones menor a 100 carácteres  </mat-error>
        </mat-form-field>
      </div>

      <div class="div-info">
        <!-- Boton -->
        <div class="div-btn">
          <button (click)="capturar()" mat-raised-button class="btn">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</body>
