<!-- <app-navbar2></app-navbar2> -->
<app-navbar></app-navbar>
<body>
  <div class="cuadro-info">

    <h1>Bienvenid@ a ASWISC-IV</h1>
    <div class="div-info">
      <div>
        <img class="image" src="../../../assets/img/Graphic_Isometric.png" alt="Graphic image">
      </div>
      <div class="text">
        <p style="font-weight: bold;">Sistema Automatizado WISC-IV “ASWISC-IV”</p>
        <p> Es un proyecto que tiene como objetivo automatizar y eficientar el proceso de trabajo de un especialista psicólogo dentro de nuestro sistema siendo una función automatizada, acortando los tiempos de evaluación, de forma que habrá más tiempo destinado a otras actividades realizadas por psicólogos y no a la etapa de evaluación de un paciente mediante dicha prueba. Por lo que permitirá trabajar en su ambiente laboral de forma digital, así como realizar videollamadas, generar expedientes clínicos, tener un seguimiento de sus pacientes mediante tareas y también se propone llevar un registro de pacientes para mantener todo más organizado.</p>
        <p>El sistema será capaz de optimizar el tiempo de trabajo de los especialistas psicólogos mediante la automatización de  la prueba WISC-IV, por lo que permitirá al especialista emplear más tiempo en otras actividades hacía sus pacientes, proporcionando las funciones previamente mencionadas para que este pueda operar de manera más eficiente y segura.</p>
      </div>
    </div>



    <div class="div-info">
      <div class="text">
        <p style="font-weight: bold;">Usuario Especialista</p>
        <p>Para este tipo de usuario es necesario tener un nivel educativo de licenciatura en psicología dado que es necesario para trabajar en la plataforma porque requiere presentar documentos tales como su cédula, este usuario podrá tener una lista de pacientes como a su vez sesiones por horarios, además este usuario podrá agendar y llevar un control en los horarios y sesiones asignadas a los pacientes, este usuario tendrá la capacidad de generar seguimiento por paciente (tarea), como a su vez de subir resultado de pruebas extras a un apartado de prueba, y también tendrá la facultad de generar un expediente clínico por paciente y realizar la automatización de la prueba.</p>
        <p style="font-weight: bold;">Usuario Paciente</p>
        <p>Este tipo de usuario no requiere ninguna especie de nivel educativo, cualquier persona puede ser un usuario paciente, este usuario podrá acceder a su expediente clínico que contendrá las pruebas subidas por el especialista, este usuario podrá descargar el expediente clínico, además, este usuario podrá generar una cita con su especialista, tendrá la facultad de hacer pagos.</p>
      </div>
      <div>
        <img class="image" src="../../../assets/img/hojas.jpeg" alt="paper image">
      </div>
    </div>

    <hr>

    <h2>WISC-IV</h2>
    <div class="div-info">
      <div>
        <img class="img" src="../../../assets/img/Analytics process_Isometric.png" alt="analytics process image">
      </div>
      <div class="text">
        <p style="font-weight: bold;">Escala de inteligencia de Wechsler para niños-IV (WISC-IV).</p>
        <p>Es un test neuropsicológico dirigido a niños y adolescentes de edades comprendidas entre 6 años 0 meses y 16 años 11 meses. Abarca los niveles educativos de Primaria (6 a 11), Secundaria (12-15) y Bachillerato (primer curso, 16 años). Ampliamente utilizado para el cribado y diagnóstico de patologías del neurodesarrollo y aprendizaje (altas capacidades; grados de discapacidad intelectual, dificultades del aprendizaje, disfunciones del neurodesarrollo y/o neuropsicológicas. </p>
        <p>Permitiendo evaluar la calidad de la atención. Los índices de razonamiento perceptivo y de velocidad de procesamiento</p>
        <p style="font-weight: bold;">Que mide este test?</p>
        <p>Evalúa las capacidades intelectuales, su visión  de inteligencia defiende que las capacidades cognitivas se organizan de forma jerárquica, con aptitudes específicas vinculadas a distintos ámbitos cognitivos que representan las habilidades intelectuales generales (Comprensión verbal y Razonamiento perceptivo) y habilidades de procesamiento cognitivo (Memoria de Trabajo y Velocidad del Procesamiento), y que están en estrecha relación con las actuales teorías de la inteligencia de razonamiento fluido y cristalizado y de Memoria de Trabajo. </p>
      </div>
    </div>
    <hr>

    <h2>ASWISC-IV</h2>
    <div class="div-info">
      <div class="text">
        <p>ASWISC-IV Es el proyecto que se realizará para la automatización de la prueba WISC-IV. Así también como las funcionalidades de videollamadas, control de pacientes, generación de pruebas y expediente clínico, elementos de terapia, etc. Consiste en usar la herramienta ASWISC-IV para realizar la automatización de la prueba WISC-IV sin necesidad de las personas, por lo que ahorra una gran cantidad de tiempo al Especialista psicólogo.</p>
      </div>
      <div>
        <img class="img" src="../../../assets/img/Data organization_Isometric.png" alt="data organization image">
      </div>
    </div>




  </div>
</body>

