<app-navbar></app-navbar>
<body>
  <div class="cuadro-info">

    <h1>Inicio</h1>
    <div class="div-info">
      <div>
        <img class="image" src="../../../assets/img/Graphic_Isometric.png" alt="Graphic image">
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore adipisci quidem reprehenderit possimus facilis cum, tenetur error. Excepturi totam amet placeat reiciendis molestias corporis necessitatibus iusto quibusdam, quasi deserunt ipsam aut sapiente quaerat ducimus tempore voluptatum sunt? Ad repellat laboriosam iusto hic reprehenderit, commodi neque laborum itaque culpa, cum maxime provident animi deleniti eius sed libero quibusdam possimus eveniet modi labore rem atque quod accusamus totam! Quidem molestiae temporibus cupiditate voluptatum, et aut consectetur laudantium veniam perferendis, accusamus, doloribus voluptates.</p>
      </div>
    </div>



    <div class="div-info">
      <div class="text">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis quos ut libero sit porro ipsum repellendus non provident dolore. Eos quod possimus voluptatem beatae veritatis, incidunt fugit nostrum, at natus necessitatibus sunt nesciunt amet expedita, corrupti labore deleniti esse dolore quae assumenda numquam ipsa saepe! Praesentium dolores iure repudiandae! In magni numquam quae, quos ratione adipisci aperiam! Reiciendis, quisquam, assumenda est velit voluptatem deleniti voluptates facere voluptatibus minus vel quasi aliquid. Dolorem magni hic ducimus labore illum recusandae omnis eum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum minima illo vel dolor nisi, at mollitia dolorum id rem. Eos?</p>
      </div>
      <div>
        <img class="image" src="../../../assets/img/hojas.jpeg" alt="paper image">
      </div>
    </div>

    <hr>

    <h2>WISC-IV</h2>
    <div class="div-info">
      <div>
        <img class="img" src="../../../assets/img/Analytics process_Isometric.png" alt="analytics process image">
      </div>
      <div class="text">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate sapiente excepturi architecto facere, tenetur delectus corporis hic ipsam dolore deserunt ducimus adipisci non, quibusdam facilis suscipit quia vel? Minus, odio voluptatum perferendis aliquam unde libero totam ut possimus optio atque repudiandae tempora commodi quidem cumque natus enim autem fugiat tempore voluptate aut. Deserunt fugiat nulla quas non! Beatae cum neque error labore aspernatur ullam omnis accusamus sequi debitis necessitatibus, est eaque repellat reprehenderit cupiditate rem voluptatum nesciunt soluta praesentium, itaque eius magnam accusantium rerum officia consequuntur. Ipsum incidunt, officiis voluptate ab natus, nostrum numquam sint, fugiat aperiam labore blanditiis harum.</p>
      </div>
    </div>
    <hr>

    <h2>ASWISC-IV</h2>
    <div class="div-info">
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et odio odit repellat ullam distinctio tempora vero eveniet aperiam aliquam at inventore excepturi perspiciatis quidem voluptatem aspernatur saepe architecto incidunt tenetur soluta possimus praesentium, quas placeat hic labore. Iure tenetur quod inventore rem ex alias quasi soluta reprehenderit! Ex voluptatum hic aliquid ipsum earum illo magni dignissimos obcaecati rem eos corrupti labore accusantium atque nobis temporibus, fuga voluptas fugiat soluta! Illum.</p>
      </div>
      <div>
        <img class="img" src="../../../assets/img/Data organization_Isometric.png" alt="data organization image">
      </div>
    </div>




  </div>
</body>

