<body>
  <div class="cuadro-registro">
    <h1>Registro Especialista</h1>
    <form [formGroup]="form" (ngSubmit)="RegistroEspecialista()">
      <div class="div-info">
        <div>
          <h2>Nombre</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Nombre Completo</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div>
          <h2>Sexo</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Favorite food</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</body>




