<app-navbar></app-navbar>
<body>
    <div class="cuadro-info">
  
      <h1>Escala de Inteligencia para niños de Wechsler- Cuarta Edición (WISC IV)</h1>
  
  
        <br>
        <br>
      <h2>WISC-IV</h2>
      <div class="div-info">
        <div class="imagen">
          <img class="img" src="../../../assets/img/wisciv.jpg" alt="analytics process image">
        </div>
        <div class="text">
          <p style="font-weight: bold;">Escala de inteligencia de Wechsler para niños-IV (WISC-IV).</p>
          <p>Es un test neuropsicológico dirigido a niños y adolescentes de edades comprendidas entre 6 años 0 meses y 16 años 11 meses. Abarca los niveles educativos de Primaria (6 a 11), Secundaria (12-15) y Bachillerato (primer curso, 16 años). Ampliamente utilizado para el cribado y diagnóstico de patologías del neurodesarrollo y aprendizaje (altas capacidades; grados de discapacidad intelectual, dificultades del aprendizaje, disfunciones del neurodesarrollo y/o neuropsicológicas. </p>
          <p>Permitiendo evaluar la calidad de la atención. Los índices de razonamiento perceptivo y de velocidad de procesamiento</p>
          <p style="font-weight: bold;">Que mide este test?</p>
          <p>Evalúa las capacidades intelectuales, su visión  de inteligencia defiende que las capacidades cognitivas se organizan de forma jerárquica, con aptitudes específicas vinculadas a distintos ámbitos cognitivos que representan las habilidades intelectuales generales (Comprensión verbal y Razonamiento perceptivo) y habilidades de procesamiento cognitivo (Memoria de Trabajo y Velocidad del Procesamiento), y que están en estrecha relación con las actuales teorías de la inteligencia de razonamiento fluido y cristalizado y de Memoria de Trabajo. </p>
        </div>
      </div>
      <hr>
  
  
  
  
    </div>
  </body>
  