<p>
    <mat-toolbar class="navbar">
    <mat-toolbar-row>
      <span class="titulo">ASWISC-IV</span>
      <span class="example-spacer"></span>
      <button  mat-icon-button>
        <mat-icon class="size_icon" matSuffix>account_circle</mat-icon>
        <!-- <mat-icon class="size_icon">account_circle</mat-icon> -->
      </button>
      <button mat-button class="size">Inicio de Sesion</button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <button mat-button class="btn">Inicio</button>
      <button mat-button class="btn">WISC-IV</button>
      <button mat-button class="btn">ASWISC-IV</button>
      <button mat-button class="btn">Articulos</button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>


