<body>
  <div class="cuadro-info">

    <h1>Modulos de Especialista</h1>
    <div class="div-info">
      <div class="text">
        <p class="title">Sistema Automatizado WISC-IV “ASWISC-IV”</p>
        <p> Es un proyecto que tiene como objetivo automatizar y eficientar el proceso de trabajo de un especialista psicólogo dentro de nuestro sistema siendo una función automatizada, acortando los tiempos de evaluación, de forma que habrá más tiempo destinado a otras actividades realizadas por psicólogos y no a la etapa de evaluación de un paciente mediante dicha prueba. Por lo que permitirá trabajar en su ambiente laboral de forma digital, así como realizar videollamadas, generar expedientes clínicos, tener un seguimiento de sus pacientes mediante tareas y también se propone llevar un registro de pacientes para mantener todo más organizado.</p>
        <p>El sistema será capaz de optimizar el tiempo de trabajo de los especialistas psicólogos mediante la automatización de  la prueba WISC-IV, por lo que permitirá al especialista emplear más tiempo en otras actividades hacía sus pacientes, proporcionando las funciones previamente mencionadas para que este pueda operar de manera más eficiente y segura.</p>
      </div>
      <div>
        <img class="image" src="../../../assets/img/libro.jpg" alt="libro image">
      </div>

    </div>


    <div class="div-info">
      <div class="text">
        <p class="title">Funciones del Sistema</p>
        <p>Las funciones de un usuario Especialista son diversas, ya que permiten el desarrollo de </p>
        <p>Este tipo de usuario no requiere ninguna especie de nivel educativo, cualquier persona puede ser un usuario paciente, este usuario podrá acceder a su expediente clínico que contendrá las pruebas subidas por el especialista, este usuario podrá descargar el expediente clínico, además, este usuario podrá generar una cita con su especialista, tendrá la facultad de hacer pagos.</p>
      </div>
      <div>
        <img class="image" src="../../../assets/img/hojas.jpeg" alt="paper image">
      </div>
    </div>



  </div>
</body>
