body{
  background-color: #F8F8FF ;
  width: 100%;
  margin: auto;
  font-family: sans-serif;
}


.cuadro-info{
  /* background-color: #FFFAFA; */
  background-color: #F8F8FF ;
  width: 90%;
  margin: auto;
  padding-top: 20px;
  border: 6px solid #DCDCDC;
}

.cuadro-info h1{
  margin-top: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
}

h2{
  margin-top: 10px;
  padding-left: 20px;
  text-align: start;
  font-size: 24px;
  font-weight: bolder;
}

.cuadro-info hr{

  border: 3px solid #DCDCDC ;
}

.div-info{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.div-info .title{
  font-size: 22px;
  font-weight: bold;
}



.image{
  width: 400px;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.text{
  text-align: justify;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 1.5;
}


.cuadro-info p{
  text-align: justify;
  font-size: 18px;
}
