<!-- <script src="https://js.stripe.com/v3/"></script> -->
<p>Stripe Works!</p>

<!-- <form action="" [formGroup]="form" (submit)="initPay()"> -->
  <!-- <div class="input input-amount">
    <label class="label">Monto a Pagar</label>
    <input
              matInput
              autocomplete="off"
              formControlName="amount"
              value="{{ amount }}"
            />
    <span class="currency">MXN</span>
  </div>

  <hr>
  <div class="input">
    <label class="label">Numero de Tarjeta</label>
    <div id="card"></div>
  </div>
  <hr>

  <div class="input">
    <label class="label">CVC</label>
    <div id="cvc"></div>
  </div>

  <div class="input">
    <label class="label">Fecha de Vencimiento</label>
    <div class="exp"></div>
  </div>

  <div class="terms">
    <a href="">Links</a>
    <a href="">Links</a>
  </div> -->

  <!-- <button [disabled]="form.invalid || form.disabled></button> -->
<!-- </form> -->
