<app-navbar-especialista></app-navbar-especialista>
<br />
<br />
<br />
<br />

<body>
  <div class="cuadro container" [formGroup]="FormTarea">
    <h1 class="titulo">Tareas Especialista</h1>

    <div class="div-info">
      <div>
        <h2>Paciente</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Paciente</mat-label>
              <input matInput formControlName="nombre" readonly/>
              <!-- <input type="hidden" name=""> -->
            <mat-error> Ingrese el Título </mat-error>
          </mat-form-field>
      </div>

      <div>
        <h2>Título de la Tarea</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Titulo</mat-label>
              <input matInput formControlName="titulo" />
            <mat-error> Ingrese el Título </mat-error>
          </mat-form-field>
      </div>
    </div>

    <!-- descripcion de tarea -->
    <div class="div-info-chart">
      <h2>Descripción de Tarea</h2>
        <mat-form-field class="textarea" appearance="outline">
          <textarea rows="10" cols="50" matInput placeholder="Descripcion de la tarea" formControlName="descripcion">
            <mat-error> Ingrese una descripción menor a 100 carácteres  </mat-error>
          </textarea>
        </mat-form-field>
    </div>

    <h2 style="margin-left: 40px">Subir Documentos de Resultados</h2>
    <mat-label class="label">
      Arrastre y suelte su documento AQUÍ
      <mat-icon>arrow_downward</mat-icon>
    </mat-label>

    <div class="file-container" *ngIf="!file">
      <input type="file" class="file" (change)="getFile($event)" />
    </div>

    <div *ngIf="file" class="guardar">
      Nombre del Archivo: {{ file.name }} <br />
      <button mat-raised-button color="warn" (click)="file = undefined">  Limpiar Documento </button>
    </div>

    <input #document hidden [value]="urlImage | async" />
    <br />
    <button mat-raised-button color="primary" class="guardar" (click)="uploadFile()"> Cargar Archivo  </button>
    <br />
    <br />
    <button mat-raised-button color="accent" class="guardar" (click)="capturar()">  Guardar Cambios </button>

  </div>

</body>
