<app-navbar></app-navbar>
<body>
    <div class="cuadro-info">
  
      <h1>Sistema Automatizado WISC-IV</h1>
  
  
      <h2>ASWISC-IV</h2>
      <div class="div-info">
        <div class="text">
          <p>ASWISC-IV Es el proyecto que se realizará para la automatización de la prueba WISC-IV. Así también como las funcionalidades de videollamadas, control de pacientes, generación de pruebas y expediente clínico, elementos de terapia, etc. Consiste en usar la herramienta ASWISC-IV para realizar la automatización de la prueba WISC-IV sin necesidad de las personas, por lo que ahorra una gran cantidad de tiempo al Especialista psicólogo.</p>
        </div>
        <div>
          <img class="img" src="../../../assets/img/Data organization_Isometric.png" alt="data organization image">
        </div>
      </div>
  
  
  
  
    </div>
  </body>
  
