<body>
    <div class="login">
        <h1 style="opacity: 1;">Iniciar Sesión</h1>
        <form [formGroup]="form" (ngSubmit)="ingresar()">
            <!-- Ingreso Usuario-->
            <mat-form-field style="opacity: 1;" class="ancho" appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario" required>
              </mat-form-field>
            <!-- Ingreso Contraseña-->
              <mat-form-field  style="opacity: 1;" class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput autocomplete="off" [type]="hide ? 'password' : 'text'" formControlName="contrasena" required>
                <button style="opacity: 1;" type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                  <mat-icon>
                    {{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                </button>
              </mat-form-field>


              <!-- Iniciar Sesion -->
              <!-- <input type="submit" value="Ingresar" class="btn"> -->
              <button  type="submit" mat-raised-button class="ancho btn" [disabled]="form.invalid">Ingresar</button>

              <!-- Links Registros -->
              <ul>
                  <li><a  style="opacity: 1;"class="link" href="#Olvido">Haz olvidado tu contraseña?</a></li>
                  <li><a  style="opacity: 1;"class="link" href="/registro-especialista">Registrate como Especialista</a></li>
                  <li><a  style="opacity: 1;" class="link" href="/registro-paciente">Registrate como Paciente</a></li>
              </ul>
        </form>
    </div>
</body>

<router-outlet></router-outlet>
