@import url("https://cdn.syncfusion.com/ej2/material.css");

.e-schedule .e-appointment-details{
    padding: 0 !important;
}
.schedule-event-template.e-schedule .e-vertical-view .e-content-wrap .e-appointment {
    border-radius: 8px;
  }

  .schedule-event-template.e-schedule .e-vertical-view .e-content-wrap .e-appointment .e-appointment-details {
    padding: 0;
    height: 100%;
  }
.elemento-gris{
    /* background: rgb(207, 205, 199); */
    height: 100%;
    width: 100%;
    color: black;
}


.background-pagos{
    width:100%;
   height:100%;
   position:absolute;
   top:0;
   bottom:0;
   left: -5px;
   background:rgba(196, 196, 196, 0.397);
   /* opacity: 0.5; */
   z-index: 999;
   display: block;
  /* background: transparent 0.2; */
  display: flex;
  align-items: center;
}
.container-pagos{
  width:500px;
  height:200px;
  margin: auto;
  /* position:absolute; */
  background: #EAEDED;
  border-radius: 20px;
  /* opacity: 1; */
  padding: 20px;
}


.background-pagos-oculto{
  display: none;
}
