<app-navbar-especialista></app-navbar-especialista>

<body>
  <div class="cuadro-registro">
    <h1>Registrar Paciente</h1>
    <form #RegistrarPacienteForm="ngForm" [formGroup]="FormRegistrarPaciente" (ngSubmit)="RegistrarPaciente();">
      <div class="div-info">
        <div>
          <h2>Nombre</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Nombre Completo</mat-label>
            <input matInput formControlName="nombre">
            <mat-error>
              Por favor ingrese su nombre
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <h2>Sexo</h2>
          <mat-radio-group formControlName="sexo" aria-label="Select an option">
            <mat-radio-button class="input" color="primary"  name="Masculino" value="Masculino">Masculino</mat-radio-button>
            <br>
            <mat-radio-button class="input" color="primary"  name="Femenino" value="Femenino">Femenino</mat-radio-button>
          </mat-radio-group>
        </div>


        <!-- <div>
          <h2>Sexo</h2>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button class="input" color="primary" id="masculino" value="masculino" name="sexo" formControlName="sexo">Masculino</mat-radio-button>
            <br>
            <mat-radio-button class="input" color="primary" id="femenino" value="femenino" name="sexo" formControlName="sexo">Femenino</mat-radio-button>
          </mat-radio-group>
        </div> -->


        <!-- <div>
          <h2>Sexo</h2>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button class="input" *ngFor="let sexo of sexos" [value]="sexo" color="primary">{{ sexo }}</mat-radio-button>
          </mat-radio-group>
        </div> -->


      </div>

      <div class="div-info">
        <!-- Fecha de nacimiento -->
        <div>
          <h2>Fecha de Nacimiento</h2>
          <mat-form-field class="input" appearance="fill">
            <input matInput type="date" formControlName="nacimiento">
            <mat-error>
              Por favor Ingrese su <strong>Fecha de Nacimiento</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Usuario -->
        <div>
          <h2>Nombre de usuario</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput autocomplete="off" formControlName="usuario">
            <mat-error>
              Por favor Ingrese su nombre de <strong>Usuario</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="div-info">
        <!-- Email -->
        <div>
          <h2>Correo electrónico</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com">
            <mat-error>
              Por favor Ingrese su <strong>Correo</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Contrasena -->
        <div>
          <h2>Contraseña</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput autocomplete="off" [type]="hide ? 'password' : 'text'" formControlName="contrasena">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
              <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </button>
            <mat-error>
              Por favor Ingrese su  <strong>Contraseña</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="div-info">
        <!-- Telefono -->
        <div>
          <h2>Número de Teléfono</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Teléfono</mat-label>
            <span matPrefix>+55 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234" formControlName="telefono">
            <mat-error>
              Por favor Ingrese su número de <strong>telefono</strong> de 10 digitos
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Boton -->
          <div class="div-btn">
            <button  type="submit" mat-raised-button class="btn">Registrar</button>
          </div>

      </div>
    </form>
  </div>
</body>
