<app-navbar-especialista></app-navbar-especialista>
<br />
<br />
<br />
<br />

<body>
  <div class="cuadro-registro">
    <div class="div-junto">
      <div>
        <h1>Pacientes</h1>
      </div>

      <mat-form-field appearance="standard">
        <mat-label>Búsqueda</mat-label>
        <input
          matInput
          autocomplete="off"
          (keyup)="applyFilter($event)"
          #input
          autocomplete="off"
        />
      </mat-form-field>
    </div>

    <div *ngIf="lista_pacientes.length > 0">
      <div class="mat-elevation-z5">
        <table mat-table [dataSource]="dataSource" matSort>
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="nacimiento">
            <th mat-header-cell *matHeaderCellDef>nacimiento</th>
            <td mat-cell *matCellDef="let element">
              {{ element.nacimiento | date: "dd/MM/yyyy" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio consulta</th>
            <td mat-cell *matCellDef="let element">
              {{ element.precio_consulta }}
            </td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Otros</th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              style="text-align: right"
            >
              <a
                (click)="descargarexpediente(element.id_usuario)"
                style="color: #1878b0"
                matTooltip="Ver Expediente Clínico"
              >
                <mat-icon class="pointer">folder_shared</mat-icon>
              </a>
              <a
                (click)="eliminarPaciente(element.id_paciente)"
                style="color: #e15639"
                matTooltip="Eliminar Usuario"
              >
                <mat-icon class="pointer">delete</mat-icon>
              </a>
              <a
                (click)="eliminarExpediente(element.id_paciente)"
                matTooltip="Eliminar Expediente"
              >
              <mat-icon class="pointer">delete_forever</mat-icon>
            </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
    <h2 class="error" *ngIf="lista_pacientes.length == 0">No hay usuarios para mostrar</h2>
  </div>
</body>
