<app-navbar-especialista></app-navbar-especialista>
<body>
  <div class="cuadro-registro">
    <h1>Información Personal</h1>
    <form [formGroup]="formEspecialista">
      <div class="div-info">
        <div>
          <h2>Nombre</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Nombre Completo</mat-label>
            <input matInput autocomplete="off" formControlName="nombre" />
            <mat-error> Por favor ingrese su nombre </mat-error>
          </mat-form-field>
        </div>
        <div>
          <h2>Direcci&oacute;n</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Direcci&oacute;n</mat-label>
            <input matInput autocomplete="off" formControlName="direccion" />
            <mat-error> Por favor ingrese su direcci&oacute; </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="div-info">
        <div>
          <h2>Profesi&oacute;n</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Direcci&oacute;n</mat-label>
            <input matInput autocomplete="off" formControlName="profesion" />
            <mat-error> Por favor ingrese su profesi&oacute;n </mat-error>
          </mat-form-field>
        </div>
        <!-- Usuario -->
        <div>
          <h2>Nombre de usuario</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="usuario"
            />
            <mat-error>
              Por favor Ingrese su nombre de <strong>Usuario</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="div-info">
        <!-- Email -->
        <div>
          <h2>Correo electrónico</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Ex. pat@example.com"
              formControlName="email"
            />
            <mat-error>
              Por favor Ingrese su <strong>Correo</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Contrasena -->
        <div>
          <h2>Contraseña</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              autocomplete="off"
              [type]="hide ? 'password' : 'text'"
              formControlName="contrasena"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>
                {{ hide ? "visibility_off" : "visibility" }}
              </mat-icon>
            </button>
            <mat-error>
              Por favor Ingrese su <strong>Contraseña</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="div-info">
        <!-- Telefono -->
        <div>
          <h2>Número de Teléfono</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Teléfono</mat-label>
            <span matPrefix>+55 &nbsp;</span>
            <input
              type="tel"
              matInput
              placeholder="555-555-1234"
              formControlName="telefono"
            />
            <mat-error>
              Por favor Ingrese su número de <strong>telefono</strong> de 10
              digitos
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <h2>Tiempo de consulta</h2>
          <mat-form-field class="input" appearance="fill">
            <mat-label>Tiempo de consulta</mat-label>
            <input
              matInput
              formControlName="tiempo_consulta"
            />
            <mat-error>
              Por favor Ingrese su <strong>Tiempo de consulta</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Boton -->
      </div>
      <div class="div-info">
        <div class="div-btn">
          <button
            [disabled]="formEspecialista.invalid"
            (click)="capturar()"
            type="submit"
            mat-raised-button
            class="btn"
          >
            Actualizar
          </button>
        </div>
      </div>
      <h4>
        Nota: Sus datos personales se actualizarán una vez que seleccione el
        botón de "Actualizar" y no podrán ser recuperados.
      </h4>
    </form>
  </div>
</body>
