.cuadro{
    background-color: #ffffff ;
    width: 90%;
    margin: auto;
    padding-top: 50px;
    border: 6px solid #DCDCDC;
}

ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 0;
}

li{
    text-align: right;
}

.first-day{
    grid-column-start: 6;
}

.day-name{
    background-color: #eee;
    font-weight: bold;
    text-align: center;
}

.calendario{
    text-align: center;
    width: 700px;
}