<app-navbar-especialista></app-navbar-especialista>
<br />
<br />
<br />
<br />
<br />

<body style="background-color: white">
  <div class="cuadro">
    <h1 class="creacion">Creación de Artículo</h1>
    <div class="div-info">
      <div class="titulo">
        <h2>Título del Artículo</h2>
        <mat-form-field class="input" appearance="fill">
          <mat-label>Ingrese el título </mat-label>
          <input matInput />
          <mat-error> Por favor ingrese el título </mat-error>
        </mat-form-field>
      </div>
    </div>

    <angular-editor id="editor1" [config]="editorConfig"></angular-editor>

    <div class="div-info">
      <!-- Boton -->
      <div class="div-btn">
        <button type="submit" mat-raised-button class="btn">Guardar</button>
      </div>

      <!-- Boton -->
      <div class="div-btn">
        <button type="submit" mat-raised-button class="btn">Publicar</button>
      </div>
    </div>
  </div>
</body>
