<p>resultado-automatizacion-wisciv works!</p>
<app-navbar-especialista></app-navbar-especialista>
<p>resultado-automatizacion-wisciv works!</p>

<br>



<table class="default">

    <caption>Consumo de combustible de los autos a lo largo de las pruebas de manejo</caption>
  
    <tr>
  
      <th scope="col">Car</th>
  
      <th>Enero</th>
  
      <th>Febrero</th>
  
      <th>Marzo</th>
  
    </tr>
  
    <tr>
  
      <th>Chevrolet Camaro</th>
  
      <td>1254 lts</td>
  
      <td>1582 lts</td>
  
      <td>685 lts</td>
  
    </tr>
  
    <tr>
  
      <th>Lamborghini Aventator</th>
  
      <td>1854 lts</td>
  
      <td>1978 lts</td>
  
      <td>1502 lts</td>
  
    </tr>
  
  </table>