<p>resultado-automatizacion-wisciv works!</p>
<app-navbar-especialista></app-navbar-especialista>
<p>resultado-automatizacion-wisciv works!</p>

<br>
<br>
<div class="cuadro-registro">


<table class="estimacion-edad" >
  <thead>
    <tr>
      <th colspan="4" style="text-align: center;" >Estimación de la Edad del Niño</th>
    </tr>
    <tr>
      <th  style="border: white;"></th>
      <th scope="col">Año</th>
      <th scope="col">Mes</th>
      <th scope="col">Día</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <th>Fecha de evaluación</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <th>Fecha de nacimiento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <th>Edad de evaluación</th>
      <th style="background-color: rgb(190, 121, 121);"></th>
      <th style="background-color: rgb(190, 121, 121);"></th>
      <th style="background-color: rgb(190, 121, 121);"></th>
    </tr>
  </tbody>
  <tfoot>

  </tfoot>
</table>
<br>
<br>
<br>

<table class="puntuaciones-escalares">

  <thead>

    <tr>

      <th scope="col">Subprueba</th>

      <th scope="col">PN</th>

      <th colspan="6"  scope="col">Puntuaciones Escalares</th>

    </tr>
  </thead>

  <tbody>
    <tr>

      <th>Cubos</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>

    </tr>

    <tr>

      <th>Semejanzas</th>

      <td></td>

      <td></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);" ></td>

      <td></td>

    </tr>

    <tr>

      <th>Retención de Dígitos</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>


    </tr>

    <tr>

      <th>Conceptos con dibujos</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>


    </tr>

    <tr>

      <th>Claves</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td></td>


    </tr>

    <tr>

      <th>Vocabulario</th>

      <td></td>

      <td></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>


    </tr>
    <tr>

      <th>Sucesión de números y letras</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>

    </tr>
    <tr>

      <th>Matrices</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>

    </tr>

    <tr>

      <th>Comprensión</th>

      <td></td>

      <td></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);" ></td>

      <td></td>

    </tr>

    <tr>

      <th>Búsqueda de Símbolos</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td></td>

    </tr>
    <tr>

      <th style="background-color: rgb(190, 121, 121);">(Figuras Incompletas)</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>

    </tr>
    <tr>

      <th style="background-color: rgb(190, 121, 121);">(Registros)</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"  ></td>
      
      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>

    </tr>
    <tr>

      <th style="background-color: rgb(190, 121, 121);">(Información)</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>

    </tr>
    <tr>

      <th style="background-color: rgb(190, 121, 121);">(Aritmética)</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>

    </tr>
    <tr>

      <th style="background-color: rgb(190, 121, 121);">Palabras en contexto (Pistas)</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>

    </tr>

  </tbody>

  <tfoot>

    <tr>

      <th style="border: white;" colspan="3">Suma de Puntuaciones Escalares</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>
      
      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>
      
    </tr>

    <tr>

      <th style="border: white;" colspan="3">texto extra</th>

      <td></td>

      <td></td>

      <td></td>
      
      <td></td>

      <td></td>
      
    </tr>

  </tfoot>

</table>

<br>
<br>
<br>
<br>
<table>
  
</table>


            <table class="estimacion-edad">
              <thead>
                <tr >
                  <th colspan="5" style="text-align: center;" >Cálculo de puntuaciones índice</th>
                </tr>
                <tr>
                  <th scope="col" style="text-align: center; font-size: 12px;">Escala</th>
                  <th scope="col" style="font-size: 12px;">Suma Puntuaciones Escalares</th>
                  <th scope="col" style="font-size: 12px;">Índice compuesto</th>
                  <th scope="col" style="font-size: 12px;">Rango Perceptil</th>
                  <th scope="col" style="font-size: 12px;">Intervalo Confianza %</th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <th style="font-size: 12px;">Comprensión Verbal</th>
                  <td style="background-color: rgb(190, 121, 121); font-size: 12px;"> {{ puntuacion_media_comprension_verbal }}</td>
                  <td style="font-size: 12px;"> {{ICC}} </td>
                  <td style="font-size: 12px;"> 98 </td>
                  <td style="font-size: 12px;"> 123-134 </td>
                </tr>

                <tr>
                  <th style="font-size: 12px;">Razonamiento Perceptual</th>
                  <th style="background-color: rgb(190, 121, 121); font-size: 12px;"> {{razonamiento_perceptual}} </th>
                  <th style="font-size: 12px;"> {{ICR}} </th>
                  <th style="font-size: 12px;"> 99.9 </th>
                  <th style="font-size: 12px;"> 107-115 </th>
                </tr>

                <tr>
                  <th style="font-size: 12px;">Memoria de Trabajo</th>
                  <th style="background-color: rgb(190, 121, 121); font-size: 12px;"> {{memoria_de_trabajo}} </th>
                  <th style="font-size: 12px;"> {{ICM}} </th>
                  <th style="font-size: 12px;"> 70 </th>
                  <th style="font-size: 12px;"> 136-147 </th>
                </tr>

                <tr>
                  <th style="font-size: 12px;">Velocidad de Procesamiento</th>
                  <th style="background-color: rgb(190, 121, 121); font-size: 12px;"> {{velocidad_de_procesamiento}} </th>
                  <th style="font-size: 12px;"> {{ICV}} </th>
                  <th style="font-size: 12px;"> 24 </th>
                  <th style="font-size: 12px;"> 102-113 </th>
                </tr>

                <tr>
                  <th style="font-size: 12px;">Escala Total</th>
                  <th style="background-color: rgb(190, 121, 121); font-size: 12px;"> {{ escala_total }} </th>
                  <th style="font-size: 12px;">{{ICE}}</th>
                  <th style="font-size: 12px;"> 77 </th>
                  <th style="font-size: 12px;"> 84-95 </th>
                </tr>
              </tbody>
              <tfoot>

              </tfoot>
            </table>
        </div>

    <div class="graficas">
      <div id="grafica1" class="grafica"></div>
      <div id="grafica2" class="grafica"></div>
    </div>

  </div>

<div class="divChart">
  <canvas id="myChart"></canvas>

</div>
</div>