<p>resultado-automatizacion-wisciv works!</p>
<app-navbar-especialista></app-navbar-especialista>
<p>resultado-automatizacion-wisciv works!</p>

<br>
<br>
<div class="cuadro-registro">


<table class="estimacion-edad" >
  <thead>
    <tr>
      <th colspan="4" style="text-align: center;" >Estimación de la Edad del Niño</th>
    </tr>
    <tr>
      <th  style="border: white;"></th>
      <th scope="col">Año</th>
      <th scope="col">Mes</th>
      <th scope="col">Día</th>
    </tr>

  </thead>
  <tbody>
    <tr>
      <th>Fecha de evaluación</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <th>Fecha de nacimiento</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <tr>
      <th>Edad de evaluación</th>
      <th style="background-color: rgb(190, 121, 121);"></th>
      <th style="background-color: rgb(190, 121, 121);"></th>
      <th style="background-color: rgb(190, 121, 121);"></th>
    </tr>
  </tbody>
  <tfoot>

  </tfoot>
</table>
<br>
<br>
<br>

<table class="puntuaciones-escalares">

  <thead>

    <tr>

      <th scope="col">Subprueba</th>

      <th scope="col">PN</th>

      <th colspan="6"  scope="col">Puntuaciones Escalares</th>

    </tr>
  </thead>

  <tbody>
    <tr>

      <th>Cubos</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>

    </tr>

    <tr>

      <th>Semejanzas</th>

      <td></td>

      <td></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);" ></td>

      <td></td>

    </tr>

    <tr>

      <th>Retención de Dígitos</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>


    </tr>

    <tr>

      <th>Conceptos con dibujos</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>


    </tr>

    <tr>

      <th>Claves</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td></td>


    </tr>

    <tr>

      <th>Vocabulario</th>

      <td></td>

      <td></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>


    </tr>
    <tr>

      <th>Sucesión de números y letras</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>

    </tr>
    <tr>

      <th>Matrices</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>

    </tr>

    <tr>

      <th>Comprensión</th>

      <td></td>

      <td></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);" ></td>

      <td></td>

    </tr>

    <tr>

      <th>Búsqueda de Símbolos</th>

      <td></td>

      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td></td>

    </tr>
    <tr>

      <th style="background-color: rgb(190, 121, 121);">(Figuras Incompletas)</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>

    </tr>
    <tr>

      <th style="background-color: rgb(190, 121, 121);">(Registros)</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"  ></td>
      
      <td></td>

      <td style="background-color: rgb(85, 3, 3);"></td>

    </tr>
    <tr>

      <th style="background-color: rgb(190, 121, 121);">(Información)</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>

    </tr>
    <tr>

      <th style="background-color: rgb(190, 121, 121);">(Aritmética)</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>

    </tr>
    <tr>

      <th style="background-color: rgb(190, 121, 121);">Palabras en contexto (Pistas)</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>
      
      <td style="background-color: rgb(85, 3, 3);"></td>

      <td style="background-color: rgb(85, 3, 3);"></td>

    </tr>

  </tbody>

  <tfoot>

    <tr>

      <th style="border: white;" colspan="3">Suma de Puntuaciones Escalares</th>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>
      
      <td style="background-color: rgb(190, 121, 121);"></td>

      <td style="background-color: rgb(190, 121, 121);"></td>
      
    </tr>

    <tr>

      <th style="border: white;" colspan="3">texto extra</th>

      <td></td>

      <td></td>

      <td></td>
      
      <td></td>

      <td></td>
      
    </tr>

  </tfoot>

</table>

<br>
<br>
<br>
<br>
<table>
  
</table>

<div class="divChart">
  <canvas id="myChart"></canvas>

</div>
</div>