table {
    width: 40%;
    border: 1px solid #000;
 }
 th {
    width: 5px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 h1 {
   margin-left: 140px;
   font-family: serif;
   color: #000;
   font-weight: bold;
   text-align: left;
   font-size: 80px;
 }
 h2 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 20px;
   text-align: left;
   margin-left: 90px;
 }
 td {
    width: 20px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
 }
 caption {
    padding: 0.3em;
 }

 .cuadro-registro {
   background-color: #f8f8ff;
   width: 90%;
   margin: auto;
   padding-top: 50px;
   border: 6px solid #dcdcdc;
 }

 #divChart{
    display: block;
    width: 400px;
    height: 400px;
 }
